<!DOCTYPE html>

<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout/layout}">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${titulo}"></title>
</head>

<body>
    <div layout:fragment="contenido" class="container fluid ">
        <div class="justify-conten-center align-items-center mt-5 m-4">
            <div class="overflow-auto">
                <h4 th:text="${titulo}" style="font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
                 color: rgb(59, 63, 59); font-size: 30px;" class="text-center"></h4>
                <table class="table table-hover border border-1 caption-top shadow p-3 mb-5 bg-body rounded" id="tablaUsuarios">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Email</th>
                            <th>Nombre</th>
                            <th>Dni</th>
                            <th>Celular</th>
                            <th>Unidad Solicitante</th>
                            <th>Fuerza</th>
                            <th>Permiso / Rol</th>
                            <th>Editar-Borrar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="u : ${usuarios}">
                            <td th:text="${u.id}">1</td>
                            <td th:text="${u.email}"></td>
                            <td th:text="${u.nombre}"></td>
                             <td th:text="${u.dni}"></td>
                            <td th:text="${u.celular}"></td>
                            <td th:text="${u.fuerza}"></td>
                            <td th:text="${u.unidadSoliciante}"></td> 
                            <td th:text="${u.permiso}"></td>
                            <td style="max-width: 40px;">
                                <a th:href="@{/usuarios/editar/} + ${u.id}" class="btn btn-sm btn-warning"
                                    title="Editar">
                                    <i class="bx bxs-edit bx-spin"></i>
                                </a>
                                <a th:href="@{/usuarios/borrar/} + ${u.id}" class="btn btn-sm btn-danger" title="Borrar"
                                    onclick="return confirm('¿Estás seguro de deshabilitar el Registro?')">
                                    <i class="bx bx-trash bx-spin"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="card-footer">
                    <a th:href="@{/usuarios/nuevo}" class="btn btn-outline-primary float-end">
                        Registrar Nuevo Usuario
                    </a>
                </div>
            </div>
        </div>
    </div>

    <script th:fragment="js" ></script>


</body>

</html>